// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
	height: 100%;
}

body {
	background-color: aliceblue;
	height: 100%;
}

.center {
	text-align: center;
}

.removeSidePadding {
	padding-left: 0;
	padding-right: 0;
}

.postTitleLink {
	font-size: 1.4em;
}

.actionLink {
	font-size: 1.6em;
}

.readablePost {
	font-size: 1.1em;
}

.backgroundAliceBlue {
	background-color: aliceblue;
}

#mainPage {

	.content {

	}

	.post {
		margin-top: 40px;

		.postTitleLink {
			font-size: 2em;
			font-weight: bold;
		}

		.readablePost {
			font-size: 1.3em;
			margin-top: 5px;
		}
	}
}